# Dependency directories
node_modules/
*.local

# Environment files
.env
.env.*.local
.env.development.local
.env.test.local
.env.production.local
VITE_*

# Production build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
